* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bar {
  background-color: #003366; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: relative;
  height: 75px;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  flex: 1;
}


.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 120px;
  justify-content: center; 
  flex: 2; 

}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
  font-size: 24px;
}


.nav-bar ul li a:hover {
  color: #ffcc00;
}

.logo {
  flex: none;
}

.pt {
  width: 420px;
  margin: 150px auto; 
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pt h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.pt label {
  font-weight: bold;
  color: #555;
}

.pt input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.pt input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76,175,80,0.4);
}

.pt button {
  background-color: #5e5d5d;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pt button:hover {
  background-color: #333;
}


.alert {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 300px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1e40af;
    color: #ffffff;
}
