
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bar {
  background-color: #003366; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: relative;
  height: 75px;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  flex: 1;
}


.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 120px;
  justify-content: center; 
  flex: 2; 

}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
  font-size: 24px;
}


.nav-bar ul li a:hover {
  color: #ffcc00;
}

.logo {
    flex: none;
}

.schema {
  padding-top: 70px;
  max-width: 1700px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.schema h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.schema table {
  width: 100%;
  border-collapse: collapse;
}

.schema th,
.schema td {
  border-bottom: 1px solid #ccc;
  padding: 8px 10px;
  text-align: left;
}

.schema th {
  background: #f2f2f2;
  font-weight: bold;
  border-bottom: 2px solid #999;
}

.toevoegen {
  text-align: center; 
  margin-top: 20px;
}

.btn-toevoegen {
  display: inline-block;
  background-color: #b1b0b0;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

.btn-toevoegen:hover {
  background-color: #5e5e5e;
}

.btn-locabijwerken {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #b1b0b0;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.alert {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1e40af;
    color: #ffffff;
}

